<div class="page_identifier" data-id="random"></div>
<a href="/movies" class="browse_button"></a>
<%= render partial: "movie_card", locals: {movie: @movie} %>

<div class="filter"><div class="filter_word">Filters</div></div>
<div class="redraw" data-rotate="360" title="re-draw"></div>
<div class="genre_container">
	<div class="close_genre">
		x
	</div>
	<div class="rating_filter" data-min-score="60">
		<div class="filter_bar"></div>
		<span class="score_filter_word">minimum: 60%</span>
	</div>
	<div class="genre_list">
		<div class="a_genre selected_genre" style="font-size:30px;" data-genre-number="1">All</div>
		<div class="a_genre" data-genre-number="2">Drama</div>
		<div class="a_genre" data-genre-number="3">Romance</div>
		<div class="a_genre" data-genre-number="4">Comedy</div>
		<div class="a_genre" data-genre-number="5">Mystery & Suspense</div>
		<div class="a_genre" data-genre-number="6">Action & Adventure</div>
		<div class="a_genre" data-genre-number="7">Documentary</div>
		<div class="a_genre" data-genre-number="8">Horror</div>
		<div class="a_genre" data-genre-number="9">Art House & International</div>
		<div class="a_genre" data-genre-number="10">Science Fiction & Fantasy</div>
		<div class="a_genre" data-genre-number="11">Animation</div>
		<div class="a_genre" data-genre-number="12">Kids & Family</div>
		<div class="a_genre" data-genre-number="13">Classics</div>
		<div class="a_genre" data-genre-number="14">Cult Movies</div>
	</div>
</div>